<!DOCTYPE html>
<html>

<head>
    <title>Music Streamer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <style>
        .nav-link .fas {
            margin-right: 8px;
        }
    </style>

</head>

<body>
    <div class="nav-sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-search"></i> Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-broadcast-tower"></i> Radio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-music"></i> Songs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-record-vinyl"></i> Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user"></i> Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-folder-open"></i> Local Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-plus"></i> New Playlist</a>
            </li>
        </ul>
    </div>
    <div class="container" style="margin-left: 270px;">
        <h1>Music Streamer</h1>
        <ul id="songs-list" class="list-group">
        </ul>

        <audio id="audio-player">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="audio-player-container">
        <div class="audio-player">
            <div class="audio-info">
                <img id="album-cover" src="https://pbs.twimg.com/media/FPx0VtLX0AcOSK3.jpg:large" alt="Album Cover"
                    class="cover">
                <div class="track-info">
                    <span id="track-title" class="track-title">Domestic Sweater</span>
                    <span id="track-artist" class="track-artist">Wonderl</span>
                    <span id="track-album" class="track-album">Album</span>
                    <span id="track-year" class="track-year">Year</span>
                </div>
            </div>
            <div class="audio-controls">
                <button id="play-pause-btn" class="control-btn">▶️</button>
                <input type="range" id="seek-bar" value="0" max="100">
                <span id="current-time">0:00</span> / <span id="duration">4:25</span>
                <input type="range" id="volume-bar" value="100" max="100">
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
